@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import "./variavel";


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #B698BE, #D5C5E0, #CDBDD7);
}

.container {
    .conteudo-home {
        .imagem-home {
            .imagemScroll {
                width: 100%;
                display: block;
                align-items: center;
            }

            button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: 500ms linear;
                padding: 0px 100px 50px 100px;
                position: absolute;
                top: 5;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                margin-top: auto;
                margin-bottom: auto;
                z-index: 10;
            }



            button {
                margin-top: 42%;
            }

            button img{
                width: 50px;
            }

            h1 {
                margin-top: 30%;
                margin-left:5%;
                margin-right:10%;
            }

            button:hover {
                transform: scale(1.1);
            }

            h1 {
                position: absolute;
                color: $titulo-img;
                font-family: 'Jura', sans-serif;
                font-size: 70px;
                top: 65%;
                left: 35%;

            }

            .imagem1-home {
                padding: 10px;
            }
        }
    }

    .conteudo-home-imagem {
        .titulo-home {
            font-family: $titulo;
            text-align: center;
            font-size: 35px;
            margin-top: 40px;
        }

        .imagem1-home {
            padding: 10px;
        }
    }

    .titulo-home-texto {
        font-family: $titulo;
        text-align: center;
        font-size: 35px;
        margin-top: 40px;
    }

    .conteudo-home-texto {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        margin-bottom: 40px;

        .texto-home {
            font-family: $legenda;
            font-size: 28px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 30px;
        }
    }

    .conteudo-home-imagem-reconhecimentos {
        .titulo-reconhecimentos {
            padding: 30px;
            text-align: center;
            font-family: $titulo;
            font-size: 35px;
            margin-top: 50px;
        }

        .lampada-home {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-x: auto;
        }

        img {
            height: 100px;
            padding: 14px;
            margin-left: 60px;
        }

        .legenda-home1 {
            text-align: center;
            font-family: $legenda;
            font-size: 19px;
            color: $cor-legenda;
            font-weight: bold;
            margin-right: 30px;

        }

        .legenda-home2 {
            text-align: center;
            font-family: $legenda;
            font-size: 19px;
            color: $cor-legenda;
            font-weight: bold;
            margin-right: 20px;

        }

        .legenda-home3 {
            text-align: center;
            font-family: $legenda;
            font-size: 19px;
            color: $cor-legenda;
            font-weight: bold;
            margin-left: 20px;

        }

    }

    .botoes {
        display: flex;
        padding: 10px;
        margin-top: 30px;
        justify-content: center;

        .botaoHome {
            margin-right: 15px;
            background-color: #9c89a9;
            border: none;
            border-radius: 10px;
            font-family: $legenda;
            font-size: 20px;
            cursor: pointer;
            width: 200px;
            height: 50px;
            box-shadow: 5px 5px 4px 0px $box-color;
        }
    }

    .FormularioLogin {
        display: flex;
        justify-content: center;
        padding: 20px;

        .TituloLogin {
            text-align: center;
            font-family: $legenda;
            padding: 20px;
        }

        label{
            padding:10px
        }

        input{
            height: 30px;
            padding:5px;
        }

        #loginCadastro{
            color: $cor-legenda;
            padding: 10px;
            border:none;
            width: 100px;
            background-color: #F085F2;
            border-radius: 10px;
        }

        .emailLogin {
            padding: 10px;
            text-align: center;
            font-family: $legenda;
        }

        .nomeCadastro {
            padding: 10px;
            text-align: center;
            font-family: $legenda;
        }

        .senhaLogin {
            padding: 10px;
            text-align: center;
        }

        .FormularioLogin-p {
            font-family: 'Inika', sans-serif;
            text-align: center;
            padding: 20px;

        }

        .FormularioLogin-a {
            text-decoration: none;
            color: #F1BEFF;
        }
    }


    .ImagemDuvidas {
        width: 100%;
    }

    .duvidasFrequentes {
        justify-content: center;
        padding: 20px;

        p {
            font-size: 20px;
            text-align: justify;
            font-family: $legenda;
        }

        .perguntas {
            border-bottom: 1px solid #ccc;
            padding: 10px;
            width: 58%;
        }

        .perguntas input,
        .perguntas .respostas {
            display: none;
            text-align: center;
        }

        label {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 5px;
            width: 100%;
            font-family: $legenda;
            text-align: center;
            font-size: 20px;
        }

        input{
            height: 30px;
        }

        .perguntas input:checked~.respostas {
            display: block;
        }

    }

    .tituloFormulario {
        text-align: center;
        width: 58%;
        justify-content: center;
        font-family: $legenda;
        font-size: 15px;
        padding: 30px;
    }

    .form {
        background-color: $cor-formulario;
        width: 500px;
        height: 500px;
        border-radius: 10px;
        padding: 30px;
        color: white;

        h3 {
            font-size: 25px;
            font-family: $legenda;
            color: white;
            font-weight: normal;
            padding: 20px;
            background-color: $cor-formulario;
        }

        label{
            padding:10px;
        }

        input{
            height: 10px;
            margin:2px;
            padding:10px;
        }

        #duvida {
            width: 400px;
            height: 150px;
            border:none;
            border-radius: 5px;
        }

        #enviarDuvida {
            color: $cor-legenda;
            padding: 10px;
            margin-top:10px;
            height: 30px;
            border:none;
            width: 100px;
            background-color: #F085F2;
            border-radius: 10px;

        }

        ::placeholder {
            color: $texto-padrao;
            text-align: center;
        }

    }

    .copy-footer {
        text-align: center;
        padding: 20px;
        font-size: 20px;
        font-family: $legenda;
        margin-bottom: 20px;
    }

    .FormularioLogin-form {
        background-color: #391BA6;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        padding: 30px;
        color: white;

        .FormularioLogin {
            display: flex;
            justify-content: center;
            padding: 20px;

            .TituloLogin {
                text-align: center;
                font-family: $legenda;
                padding: 20px;
            }

            .emailLogin {
                padding: 10px;
                text-align: center;
                font-family: $legenda;
            }

            .senhaLogin {
                padding: 10px;
                text-align: center;
            }

            .FormularioLogin-p {
                font-family: 'Inika', sans-serif;
                text-align: center;
                padding: 20px;

                .FormularioLogin-a {
                    text-decoration: none;
                    color: #F1BEFF;
                }
            }

            #enviarDuvida {
                color: rgb(0, 0, 0);
                padding: 15px;
                margin-top: 20px;
                background-color: #F085F2;
                border-radius: 10px;

            }

        }
    }


    .legenda-formulario {
        font-family: $legenda;
        text-align: center;
        padding: 25px;
    }

    .NavBarLogin {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        .Item-NavL {
            font-family: $legenda;
            color: $texto-padrao;
            font-weight: 400;
            font-size: 18px;
            padding-right: 20px;
            font-weight: bold;
            text-decoration: none;
        }

    }

    .NavBar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .NavBar-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: 180px;

        }

        .NavBar-item {
            justify-content: flex-end;


            .Item-Nav {
                font-family: $titulo;
                color: $texto-padrao;
                font-weight: 400;
                font-size: 18px;
                padding: 24px;
                font-weight: bold;
                text-decoration: none;
                margin-left: 2px;
            }

            .Item-Nav:hover {
                color: $cor-formulario;
            }


        }
    }

    .conteudo-projetos {

        .BotaoFundo {
            width: 100%;
        }

        .titulo-projetos {
            font-family: $titulo;
            text-align: center;
            font-size: 35px;
            margin-top: 25px;
        }

        .conteudo-projetos-texto {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 24px;

            .texto-projetos {
                font-family: $legenda;
                font-size: 28px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 30px;
            }
        }

        .titulo-projetos {
            font-family: 'Love Ya Like A Sister', sans-serif;
            text-align: center;
            font-size: 35px;
            margin-top: 25px;
        }

        .conteudo-projetos-texto {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 24px;

            .texto-projetos {
                font-family: $legenda;
                font-size: 28px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 30px;
            }
        }

        .Imagem-Botao {
            width: 100%;
            margin-bottom: 90px;
            margin-top: 50px;

            .Imagem-Botao-titulo {
                position: absolute;
                color: white;
                font-family: $legenda;
                right: 0;
                text-align: center;

            }

            .BotaoFundo {
                width: 100%;
            }
        }

        .BotaoFundo {
            width: 100%;
        }

        .conteudo-projetos-SFOME-texto {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 24px;


            .titulo-projetos-SFOME {
                display: block;
                font-family: $titulo;
                font-size: 40px;
                text-align: center;
                margin-top: 50px;

            }

            .texto-projetos-SFOME {
                font-family: $legenda;
                font-size: 28px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 30px;
            }

        }

        .frase-SFOME {
            font-family: $titulo;
            text-align: center;
            font-size: 30px;
            padding: 50px;
        }
    }

    .conteudo-techgirls {
        .titulo-tech {
            font-family: $titulo;
            text-align: center;
            font-size: 35px;
        }

        .conteudo-tech-imagem {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 24px;

            .texto-tech {
                font-family: $legenda;
                font-size: 28px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 30px;
            }
        }

        .conteudo-tech-imagem {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 24px;

            .texto-tech {
                font-family: $legenda;
                font-size: 28px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 30px;
            }
        }
    }

    .Imagem-Botao {
        width: 100%;
        margin-bottom: 90px;
        margin-top: 50px;

        .Imagem-Botao-tech-texto {
            position: absolute;
            color: white;
            font-family: $legenda;
            right: 0;
            text-align: center;

        }

        .BotaoFundo {
            width: 100%;
        }

    }

    .conteudo-tiana {

        .BotaoFundo {
            width: 100%;
        }

        .titulo-tiana {
            font-family: $titulo;
            text-align: center;
            font-size: 35px;
            margin-top: 25px;
        }

        .conteudo-tiana-imagem {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 24px;

            .texto-tiana {
                font-family: $legenda;
                font-size: 28px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 30px;
            }
        }

        .conteudo-tiana-diferencial {
            .texto-tiana-diferencial {
                padding: 40px;
                text-align: center;
                font-family: $legenda;
                font-size: 30px;
            }

            .grid-container {
                padding: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                overflow-x: auto;


                .grid-item1 {
                    background-color: #B698BE;
                    box-shadow: 10px 10px 4px 0px $box-color;
                    margin-right: 30px;
                    border-radius: 30px;

                    .imagem1-tiana {
                        height: 200px;
                        padding: auto;
                        padding: 14px;
                        margin-left: 25px;
                    }

                    .imagem-tiana-legenda {
                        text-align: center;
                        font-family: 'Inika', sans-serif;
                        font-size: 18px;
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        margin-bottom: 25%;

                    }
                }

                .grid-item2 {
                    background-color: #B698BE;
                    box-shadow: 10px 10px 4px 0px $box-color;
                    border-radius: 30px;

                    .imagem2-tiana {
                        height: 200px;
                        padding: auto;
                        padding: 14px;
                        margin-left: 50px;
                    }

                    .imagem-tiana-legenda2 {
                        text-align: center;
                        font-family: 'Inika', sans-serif;
                        font-size: 18px;
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        margin-bottom: 25%;

                    }
                }
            }

            .grid-container figcaption {
                color: $texto-padrao;
            }
        }

        .conteudo-tiana-solucao {

            .texto-tiana-solucao {
                padding: 30px;
                text-align: center;
                font-family: $titulo;
                font-size: 30px;
                margin-top: 50px;
            }

            .conteudo-tiana-solucao-img {
                height: 200px;
            }

            .texto-solucao {
                text-align: center;
                padding: 20px;

                .texto-solucao-h2 {
                    font-family: $titulo;
                }

                .texto-solucao-p {
                    font-family: $legenda;
                    margin-top: 20px;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}



@media screen and (min-width: 1024px) {
    .container {
        .NavBarLogin {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;

            .Item-NavL {
                font-weight: 400;
                font-size: 20px;
                padding-right: 20px;
            }

        }

        .NavBar {


            .NavBar-logo {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                height: 180px;
            }

            .NavBar-item {
                justify-content: flex-end;


                .Item-Nav {
                    font-weight: 400;
                    font-size: 20px;
                    padding: 24px;
                }

            }
        }

        .conteudo-home {
            .imagem-home {
                button {
                    top: 30%;
                }

                h1 {
                    top: 40%;
                    left: 28%;
                }
            }
        }

        .conteudo-home-imagem {
            .imagem1-home {
                height: 350px;
            }
        }

        .conteudo-home-texto {
            img {
                height: 350px;
            }

            .texto-home {
                font-size: 22px;
            }
        }

        .conteudo-techgirls {
            .conteudo-tech-imagem {
                img {
                    height: 350px;
                }

                .texto-tech {
                    font-size: 22px;
                }
            }
        }

        .conteudo-projetos {
            .conteudo-projetos-texto {
                img {
                    height: 350px;
                }

                .texto-projetos {
                    font-size: 22px;
                }

            }

            .conteudo-projetos-SFOME-texto {
                img {
                    height: 300px;
                }

                .texto-projetos-SFOME {
                    font-size: 22px;
                }
            }
        }

        .conteudo-tiana {
            .conteudo-tiana-imagem {
                .texto-tiana {
                    font-size: 22px;
                }

                img {
                    height: 350px;
                }
            }
        }
    }

}

//Tablet
@media screen and (min-width: 900px) and (max-width: 1023px) {
    .container {
        .NavBarLogin {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;

            .Item-NavL {
                font-weight: 400;
                font-size: 20px;
                padding-right: 20px;
            }

        }

        .NavBar {


            .NavBar-logo {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                height: 180px;

            }

            .NavBar-item {
                justify-content: flex-end;


                .Item-Nav {
                    font-weight: 400;
                    font-size: 20px;
                    padding: 24px;
                }

            }
        }

        .conteudo-home {
            .imagem-home {
                button {
                    top: 40%;
                }

                h1 {
                    top: 40%;
                    left: 25%;
                }
            }
        }

        .conteudo-home-imagem {
            .imagem1-home {
                height: 300px;
            }
        }

        .conteudo-home-texto {
            img {
                height: 300px;
            }

            .texto-home {
                font-size: 18px;
            }
        }

        .conteudo-techgirls {
            .conteudo-tech-imagem {
                img {
                    height: 300px;
                }

                .texto-tech {
                    font-size: 18px;
                }
            }
        }

        .conteudo-projetos {
            .conteudo-projetos-texto {
                img {
                    height: 300px;
                }

                .texto-projetos {
                    font-size: 18px;
                }

            }

            .conteudo-projetos-SFOME-texto {
                img {
                    height: 300px;
                }

                .texto-projetos-SFOME {
                    font-size: 20px;
                }
            }
        }

        .conteudo-tiana {
            .conteudo-tiana-imagem {
                .texto-tiana {
                    font-size: 18px;
                }

                img {
                    height: 300px;
                }
            }

            .conteudo-tiana-solucao {
                .texto-solucao {
                    .texto-solucao-p {
                        font-size: 20px;
                    }
                }
            }

        }
    }
}

//Smartphone
@media screen and (max-width: 500px) {
.container{
    .imagem-home{
        display: none;
    }

    .NavBar{
        .NavBar-logo {
            justify-content: flex-start;
            height: 120px !important;
            margin-right: 100px;
        }

        .NavBar-item{
           
           display: flex;
           width: 10px;
            
            .Item-Nav{
                font-size: 12px !important;
            }
        }
    }

    .conteudo-home-imagem{
        .titulo-home{
            font-size: 20px;
        }

        img{
            width: 420px;
        }
    }

    .titulo-home-texto{
        font-size: 24px;
    }

    .conteudo-home-texto{
        flex-direction: column;

        img{
            width: 300px;
        }
        p{
            font-size: 20px !important;
            text-align: justify;
        }
    }

    .conteudo-home-imagem-reconhecimentos{

        overflow-x: auto;
        justify-content: center;
        margin-right:10px;
        margin-left: 10px;

        .titulo-reconhecimentos{
            font-size: 20px;
        }

        .lampada-home{
            justify-content: center;
                       
            img{
                height: 90px;
            }

            figcaption{
                width: 120px;
                margin-left: 40px;
                
                text-align: center;
                font-size: 15px;
            }
        }
    }

    .conteudo-techgirls{
        .titulo-tech{
            font-size: 22px;
        }

        .conteudo-tech-imagem{
            flex-direction: column;

            img{
                width: 300px;
            }
            p{
                font-size: 20px !important;
                text-align: justify;
            }
        }
}

    .conteudo-projetos{
        .titulo-projetos{
            font-size: 25px;
        }

        .conteudo-projetos-texto{
            flex-direction: column;

            img{
                width: 300px;
            }
            p{
                font-size: 20px !important;
                text-align: justify;
            }
        }

        .conteudo-projetos-SFOME-texto{
            flex-direction: column;

            img{
                width: 300px;
            }
            p{
                font-size: 20px !important;
                text-align: justify;
            }
            
            .texto-projetos{
                
            }
        }
    }
}
}