@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}



body{
    background-image: linear-gradient(to right, #B698BE,#D5C5E0,#CDBDD7)
}

.logoTech{
    display: flex;
    justify-content: flex-start;
}


.NavBar{
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.NavBar-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 190px;
}

.NavBarLogin{
    display: flex;
    justify-content: flex-end;
}


#Item-NavL{
    font-family: 'Inika', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-right: 20px;
    font-weight: bold;
    text-decoration: none;
}

.NavBar hover {
    color: #391BA6;
}


#Item-Nav{
    font-family: 'Love Ya Like A Sister', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
    text-decoration: none;
}


.imagem-home img{
    width: 100%;
    display: block;
}

.imagem-home h1{
    position: absolute;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 70px;
    top: 65%;
    left: 35%;
    
}

.imagem1-home{
    padding: 100px;
}

.titulo-home-texto {
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}

.conteudo-home-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 40px;
}

.titulo-reconhecimentos{
    padding: 30px;
    text-align: center;
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 35px;
    margin-top: 50px;
}


.lampada-home{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.lampada-home img{
    height: 100px;
    padding: 14px;
    margin-left: 60px;
}


.legenda-home1{
    text-align: center;
    font-family: 'Inika',sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 30px;
    
}

.legenda-home2{
    text-align: center;
    font-family: 'Inika',sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 20px;
    
}

.legenda-home3{
    text-align: center;
    font-family: 'Inika',sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 20px;

}


.texto-home{
    font-family: 'Inika',sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 30px;
}


.titulo-tech{
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-align: center;
    font-size: 35px;
}

.conteudo-tech-imagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.texto-tech{
    font-family: 'Inika',sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 30px;
}

.Imagem-Botao{
    width: 100%;
    margin-bottom: 90px;
    margin-top: 50px
}

.Imagem-Botao h2{
    position: absolute;
    color: white;
    font-family: 'Inika', sans-serif;
    right: 0;
    text-align: center;

}


.titulo-tiana{
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
}

.conteudo-tiana-imagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.texto-tiana{
    font-family: 'Inika',sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 30px;
}


.texto-tiana-diferencial{
    padding: 40px;
    text-align: center;
    font-family: 'Inika', sans-serif;
    font-size: 30px;

}

.grid-container{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;  
}

.grid-item1{
    background-color: #B698BE;
    box-shadow: 10px 10px 4px 0px #351C5970;
    margin-right: 30px;
    border-radius: 30px;
}

.grid-item2{
    background-color: #B698BE;
    box-shadow: 10px 10px 4px 0px #351C5970;
    border-radius: 30px;
}

.imagem1-tiana{
    height: 200px;
    padding: auto;
    padding: 14px;
    margin-left: 25px;
}

.imagem2-tiana{
    height: 200px;
    padding: auto;
    padding: 14px;
    margin-left: 50px;
}


.imagem-tiana-legenda{
    text-align: center;
    font-family: 'Inika',sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 25%;
    
}

.imagem-tiana-legenda2{
    text-align: center;
    font-family: 'Inika',sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 25%;
    
}


.conteudo-tiana-solucao img{
    height: 200px;
}

.texto-tiana-solucao{
    padding: 30px;
    text-align: center;
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 30px;
    margin-top: 50px;
}

.texto-solucao{
    text-align: center;
    padding: 20px;
}

.texto-solucao h2{
    font-family: 'Love Ya Like A Sister' , sans-serif;
}

.texto-solucao p{
    font-family: 'Inika', sans-serif;
    margin-top: 20px;
}

.titulo-projetos{
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
}

.conteudo-projetos-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}


.texto-projetos{
    font-family: 'Inika',sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 30px;
}


.conteudo-projetos-SFOME-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    
}

.texto-projetos-SFOME{
    font-family: 'Inika',sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 30px;
}

.titulo-projetos-SFOME{
    display: block;
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;

}

.textos-projetos{
    flex-direction: column;
}

.frase-SFOME{
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 50px;
}



.duvidasFrequentes{
    justify-content: center;
    padding: 20px;
}

.duvidasFrequentes p{
    font-size: 20px;
    text-align: justify;
    font-family: 'Inika',sans-serif;

}

.perguntas{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 58%;
}

.perguntas input,
.perguntas .respostas{
    display: none;
    text-align: center;
}

.perguntas label{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    font-family: 'Inika',sans-serif;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.perguntas input:checked ~ .respostas{
    display: block;
}

.ImagemDuvidas{
    width: 100%;
}

.BotaoFundo{
    width: 100%;
}

.tituloFormulario{
    text-align: center;
    width: 58%;
    justify-content: center;
    font-family: 'Inika' , sans-serif;
    font-size: 15px;
    padding: 30px;
}

form{
    background-color: #391BA6;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

form h3{
    font-size: 25px;
    font-family: 'Inika',sans-serif;
    color: white;
    font-weight: normal;
    padding: 20px;
    background-color: #391BA6;
}



form #duvida{
    width: 500px;
    height: 200px;
    border-radius: 5px;
}

form #enviarDuvida{
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-top: 20px;
    background-color: #F085F2;
    border-radius: 10px;
    
}

form ::placeholder{
    color: black;
    text-align: center;
}

#nomeUsuario{
    margin-bottom: 15px;
}

#emailUsuario{
    margin-bottom: 15px;
}

.FormularioLogin{
    display: flex;
    justify-content: center;
    padding: 20px;

}

.TituloLogin{
    text-align: center;
    font-family: 'Inika', sans-serif;
    padding: 20px;
}

.emailLogin{
    padding: 10px;
    text-align: center;
    font-family: 'Inika' ,sans-serif;
}

.senhaLogin{
    padding: 10px;
    text-align: center;
}

.FormularioLogin p{
    font-family: 'Inika', sans-serif;
    text-align: center;
    padding: 20px;

}

.FormularioLogin p a{
    text-decoration: none;
    color: #F1BEFF;
}

.legenda-formulario{
    font-family: 'Inika', sans-serif;
    text-align: center;
    padding: 25px;
}

.nomeCadastro{
    padding: 10px;
    text-align: center;
    font-family: 'Inika' ,sans-serif;
}



.copy-footer{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'Inika', sans-serif;
    margin-bottom: 20px;
}